<%= simple_form_for @group do |f| %>

<div class="form-group">
  <div class="form-group">
    <%= f.input :file_name, input_html: { class: "form-control"} %>
    <%= f.input :file_description, input_html: { class: "form-control"} %>
  </div>
</div>
<%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..."} %>
<% end %>
